ul,
li {
    list-style: none;
}

body {
    margin: 10px;
}

.container {
    width: 1100px;
    margin: 0px auto;
    position: relative;
}

header {
    background: #000;
}

.header__container {
    position: relative;
    text-align: center;
}

.logo {
    position: absolute;
    top: 10px;
    left: 130px;
}

.contacts {
    position: absolute;
    color: #fff;
    font-size: 10px;
    right: 130px;
    top: 10px;
}

.shedule {
    position: absolute;
    top: 24px;
    right: 120px;
    font-size: 14px;
    color: gold;
}

.menu {
    color: gold;
}

.menu__list,
.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.haupt {
    width: 13px;
    height: 13px;
    overflow: hidden;
}

.rewius {
    width: 13px;
    height: 13px;
    overflow: hidden;
}

.service {
    width: 14px;
    height: 14spx;
    overflow: hidden;
}

.main__container {}

.specs {
    background: #000;
    color: #fff;
    text-align: center;
}

.marker,
.marker__item,
.results__item,
.results,
.trenning__item,
.trenning {
    list-style: circle;
}

.just {
    top: 100px;
    width: 800px;
    height: 400px;
    padding: 150px;
    margin: 0px;
}

.uniq {
    display: inline-block;
    width: 33%;
}

.uniq-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.premium {
    display: inline-block;
    width: 33%;
}

.premium-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.coach {
    display: inline-block;
    width: 33%;
}

.coach-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.news {
    display: inline-block;
    width: 75%;
    font-size: 14px;
}

.newspaper {
    text-align: center;
}

.news__first-img {
    display: inline-block;
    width: 130px;
    height: 151px;
    border-radius: 50%;
    overflow: hidden;
}

.news__block-list {
    display: inline-block;
    width: 70%;
}

.news__second-img {
    display: inline-block;
    width: 130px;
    height: 151px;
    border-radius: 50%;
    overflow: hidden;
}

.news__block-second {
    display: inline-block;
    width: 70%;
}

.news__third-img {
    display: inline-block;
    width: 130px;
    height: 151px;
    border-radius: 50%;
    overflow: hidden;
}

.news__block-third {
    display: inline-block;
    width: 70%;
}

.last__news {
    display: inline-block;
    width: 20%;
    top: 100px;
    text-align: center;
}

.last__news-img {
    display: inline-block;
    width: 140px;
    overflow: hidden;
}

.pagination {
    text-align: center;
}

.pagination__item,
.pagination__controls,
.pagination__display {
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

.pagination__link {
    color: #000;
    text-decoration: none;
}

footer {
    background: #000;
}

.footer__container {
    background: #000;
}

.madel {
    position: absolute;
    color: #fff;
    left: 90px;
    font-size: 12px;
}

.copyright__link {
    color: #fff;
}

.socials {
    position: absolute;
    right: 300px;
    color: #fff;
}

.vkontakte {
    vertical-align: middle;
    color: #ff0;
}

.facebook,
.vkontakte,
.messige,
.tviter {
    vertical-align: middle;
    width: 20px;
    right: 50px;
}

.logo__footer {
    position: absolute;
    top: 10px;
    left: 500px;
}